body {
    margin-top: 0px;
    font-size: 9pt;
}

.bigBorder {
    border: 1px #C0C0C0 outset;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 1002px;
}

.topArea {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #C0C0C0;
    line-height: 50px;
}

.mapArea {
    width: 1002px;
    height: 550px;
    position: absolute;
    z-index: 10;
    overflow: auto;
}

.map {
    width: 995px;
    height: 543px;
    z-index: 0;
    cursor: move;
}

a {
    text-decoration: none;
}

.div_RightMenu {
    z-index: 30000;
    text-align: left;
    cursor: default;
    position: absolute;
    background-color: #FAFFF8;
    width: 160px;
    height: auto;
    border: 1px solid #333333;
    display: none;
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#333333, Direction=120, strength=5);
}

.divMenuItem {
    height: 17px;
    color: Black;
    font-family: 宋体;
    vertical-align: middle;
    font-size: 10pt;
    margin-bottom: 3px;
    cursor: hand;
    padding-left: 30px;
    padding-top: 2px;
}
